body{
    margin: 0;
}

#front-page{
    background-image: url(../imgs/AMD-Radeon-RX-7900-XTX.png);
    height: 100vh;
}


#front-page-button{
    position: absolute;
    top: 50%;
    left: 15%;
    background-color: black;
    border: none;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}